:root {
	--blue-color-1: #0061a8;
	--blue-color-2: #2978b5;
	--blue-color-3: #8ab6d6;
	--cream-color-1: #fbe0c4;
}

html,
* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
	text-align: center;
	width: 400px;
	height: 500px;
	margin: auto;
	border: 1px solid var(--blue-color-1);
}

.auth-container,
.chat-form-container {
	width: 100%;
	background-color: var(--blue-color-1);
	height: 45px;
}

.view-container {
	height: 400px;
	margin: 5px;
	border: 1px solid var(--blue-color-1);
	background-color: var(--cream-color-1);
}
